@import "reset.css";

:root {
  --max-width: 700px;
  --font-primary: "Work Sans", sans-serif;
  --color-primary: #e91e63;
}

body {
  font-family: var(--font-primary);
  font-size: 18px;
  background: rgb(250 251 254);
}

.wrapper {
  max-width: var(--max-width);
  padding: 2rem 1rem;
  margin: 0 auto;
}

.app-title {
  margin-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
}

.ais-SearchBox-form {
  position: relative;
  margin-bottom: 1.5rem;
}

.ais-SearchBox-input {
  padding: .5rem 2.25rem;
  color: rgb(57 72 110);
  background: #fff;
  border: 1px solid rgb(237 238 247);
  border-radius: .25rem;
  appearance: none;
}

.ais-SearchBox-input::placeholder {
  color: rgb(187 193 207);
}

.ais-SearchBox-input:hover {
  border-color: rgb(203 207 219);
}

.ais-SearchBox-input:focus {
  border-color: #e91e63;
  outline: none;
  box-shadow: 0 0 0 .25rem rgb(233 30 99 / 25%);
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: normal;
  background: none;
  border: none;
  transform: translateY(-50%);
  appearance: none;
}

.ais-SearchBox-submit {
  left: .5rem;
}

.ais-SearchBox-reset {
  right: .5rem;
  cursor: pointer;
}

.ais-SearchBox-submit svg,
.ais-SearchBox-reset svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  transform: translate(-50%, -50%);
}

.ais-SearchBox-submit svg path,
.ais-SearchBox-reset svg path {
  fill: rgb(57 72 110);
}

.ais-SearchBox-reset svg {
  width: .75rem;
  height: .75rem;
}

.ais-InfiniteHits-list {
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
}

.ais-InfiniteHits-item {
  padding: .5rem .75rem;
  margin-bottom: 1rem;
  color: rgb(96 108 139);
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 0 24px rgb(0 0 0 / 12%);
}

mark {
  color: #151515;
  background: rgb(233 30 99 / 30%);
}

.hit-address {
  font-weight: 600;
}

.ais-InfiniteHits-loadMore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem 1rem;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
  cursor: pointer;
  background: none;
  border: 2px solid var(--color-primary);
  border-radius: .5rem;
}

.ais-InfiniteHits-loadMore--disabled {
  cursor: not-allowed;
  opacity: .5;
}

.read-more {
  font-size: 1rem;
  color: rgb(187 193 207);
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.stats {
  display: flex;
  margin-bottom: 3rem;
}

.stats-item span:first-child {
  display: block;
  min-width: 8rem;
  color: rgb(187, 193, 207);
}

.stats-item span:last-child {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-primary);
}
