*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/* end of css reset */

:root {
  --max-width: 700px;
  --font-primary: 'Work Sans', sans-serif;
  --color-primary: #e91e63;
}

body {
  font-family: var(--font-primary);
  font-size: 18px;
  background: rgb(250, 251, 254);
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
}

.app-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.ais-SearchBox-form {
  position: relative;
  margin-bottom: 1.5rem;
}

.ais-SearchBox-input {
  appearance: none;
  padding: 0.5rem 2.25rem;
  padding: 0.5rem 2.25rem;
  border: 1px solid rgb(237, 238, 247);
  background: #fff;
  border-radius: 0.25rem;
  color: rgb(57, 72, 110);
}

.ais-SearchBox-input::placeholder {
  color: rgb(187, 193, 207);
}

.ais-SearchBox-input:hover {
  border-color: rgb(203, 207, 219);
}

.ais-SearchBox-input:focus {
  outline: none;
  border-color: #e91e63;
  box-shadow: 0 0 0 0.25rem rgb(233 30 99 / 25%);
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  appearance: none;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background: none;
  line-height: normal;
  border: none;
}

.ais-SearchBox-submit {
  left: 0.5rem;
}

.ais-SearchBox-reset {
  cursor: pointer;
  right: 0.5rem;
}

.ais-SearchBox-submit svg,
.ais-SearchBox-reset svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
}

.ais-SearchBox-submit svg path,
.ais-SearchBox-reset svg path {
  fill: rgb(57, 72, 110);
}

.ais-SearchBox-reset svg {
  width: 0.75rem;
  height: 0.75rem;
}

.ais-InfiniteHits-list {
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
}

.ais-InfiniteHits-item {
  margin-bottom: 1rem;
  background: #fff;
  color: rgb(96, 108, 139);
  box-shadow: 0 0 24px rgba(0, 0, 0, .12);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}

mark {
  background: rgba(233, 30, 99, .3);
  color: #151515;
}

.hit-address {
  font-weight: 600;
}

.ais-InfiniteHits-loadMore {
  background: none;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.read-more {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(187, 193, 207);
}

.read-more:hover {
  text-decoration: underline;
}
